DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKV0NEMUY1VFg2TThUSFAwRlRSVzBGVEsiLCJ0ZW5hbnRfaWQiOiIxNTQ4M2M2NzIzMjc1MDI3NWFmNDc3MWZmZDZhMTc4OTdkMTQ2OTkzZThhNzMzYzMzZGMzNmUzNjU4ODRiNGQ1IiwiaW50ZXJuYWxfc2VjcmV0IjoiNWYwNTcwYWMtNzYxNC00NmU3LWE1MWEtNGE5MzFiY2FiMjljIn0.T6Ps07QYvcvIzPSFBo2ZcVkDc00FZUhHBLbueYY2M5Y"
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKV0NEMUY1VFg2TThUSFAwRlRSVzBGVEsiLCJ0ZW5hbnRfaWQiOiIxNTQ4M2M2NzIzMjc1MDI3NWFmNDc3MWZmZDZhMTc4OTdkMTQ2OTkzZThhNzMzYzMzZGMzNmUzNjU4ODRiNGQ1IiwiaW50ZXJuYWxfc2VjcmV0IjoiNWYwNTcwYWMtNzYxNC00NmU3LWE1MWEtNGE5MzFiY2FiMjljIn0.T6Ps07QYvcvIzPSFBo2ZcVkDc00FZUhHBLbueYY2M5Y
